*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container1{
    display: grid;
    grid-template-columns: 40% auto;
}
.container2{
    background-color: aqua;
    padding: 10px;
    display: grid;
    grid-template-columns: 50%;
    gap: 10px;
}
.title{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family:  'Arial Narrow Bold';

}
.btn_new{
    display: inline-block;
    background-color: #239baa;
    color: #FFF;
    padding: 5px 25px;
    border-radius: 4px;
    margin: 20px;
    
}