*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containercuerpo{
    border: #d43131;
    margin: 0px 20px 10px 20px; ;
    background-color:rgb(80, 112, 32)w;
}

.carrusel{
    
    border: 2px solid #d43131;
}
