*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

#container{
	padding: 90px 15px 15px;

}
form{
 background-color: #FFF;
 margin: auto;
 padding: 20px 50px;
 border: 1px solid #CCC;
}
label{
	display: block;
	font-size: 12pt;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
input,select{
	display: block;
	width: 100%;
	font-size: 11pt;
	padding: 5px;
	border: 1px solid #55929e;
	border-radius: 5px;
}
input[type="submit"]{
	background-color: #0099FF;
	color: #FFF;
	border: 0;
	cursor: pointer;
}
input[type="submit"]:hover{
	background-color: #0066FF;
}
.btn_save{
font-size: 12pt;
background-color: #12a4c6;
padding: 10px;
color: #FFF;
letter-spacing: 1px;
border: 0;
cursor: pointer;
margin: 30px auto 15px auto;
display: block;
border-radius: 5px;
}
.btn_new{
	display: inline-block;
	background-color: #239baa;
	color: #FFF;
	padding: 5px 25px;
	border-radius: 4px;
	margin: 20px;
}
.btn_cancel,.btn_ok{
width: 124px;
background-color: #e66262;
color: #FFF;
display: inline-block;
padding: 5px ;
border-radius: 5px;
border: 0;
cursor: pointer;
margin: 15px;
font-size: 12pt;
}
.btn_cancel:hover,.btn_ok:hover{
	background-color: #e63636;
}

/*ESTILOS PARA LA TABLA DE PRODUCTOS*/
table{
	border-collapse: collapse;
	font-size: 12pt;
	font-family: Arial;
	width: 100%;

}

.datos_cliente, .datos_venta, .title_page{
	width: 100%;
	max-width: 900px;
	margin: auto;
	margin-bottom: 20px;
}
table{
	border-collapse: collapse;
	font-size: 12pt;
	font-family: Arial;
	width: 100%;
}
table th{
    text-align: left;
	padding: 12pt;
	background-color: #3d7ba8;
	color: #FFF;
}
table tr:nth-child(odd){
	background-color: #fff;
}
table td{
	padding: 10px;
}

#detalle_venta tr{
	background-color: #FFF !important;
}
#detalle_venta td{
	border-bottom: 1px solid #CCC;
}
.datos{
	background-color: #e3ecef;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 2px solid #78909C;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}
.action_cliente{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.datos label{
	margin: 5px auto;
}
.wd20{
	width: 20%;
}
.wd25{
	width: 25%;
}
.wd30{
	width: 30%;
}
.wd40{
	width: 40%;
}
.wd60{
	width: 60%;
}
.wd100{
	width: 100%;
}
#div_registro_cliente, #add_product_venta{
	display: none;
}
.displayN{
	display: none;
}
.tbl_venta{
	max-width: 900px;
	margin: auto;
}
.tbl_venta tfoot td{
	font-weight: bold;
}
.textright{
	text-align: right;
}
.textcenter{
	text-align: center;
}
.textleft{
	text-align: left;
}
.btn_anular{
	background-color: #f36a6a;
	border: 0;
	border-radius: 5px;
	cursor: pointer;
	padding: 10px;
	margin: 0 3px;
	color: #FFF;
}