*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(239, 253, 238);
    border: 2px solid rgb(10, 10, 10);   
}
.container1{
    border: 2px solid rgb(10, 10, 10);
    margin: 5px;
    padding : 10px 3px;
}

.data{
    border: 1px solid black;
    background-color: rgb(253, 253, 253);
    display: inline;
    padding: 5px;  
}
.container2{
    margin-top: 15px;
   display: grid;
    grid-template-columns: 20% auto;
      
}
.caja1{
    border: 1px solid rgb(5, 5, 5);
    margin: 0 0 10;
    display: inline;
   
}
.articulo{
    font-weight: bold;
    font-size: 12px;
    width: 180px;
    margin-left: 5px;
    padding: 5px;
}
.cantidad {
   margin-top: 20px;
}
.articulo1{
    font-weight: bold;
    font-size: 14px;
    width: 150px;
    margin-left: 5px;
    padding: 5px;
}
.btnagregar{
    background-color: rgb(96, 252, 103);
    border: 1px solid black;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
    border-radius: 10px;

}
.caja2{
    height: 300px;
    border: 1px solid rgb(5, 5, 5);
    background-color:inherit; 
    margin-left: 5px;
   
}
.detventa{
    text-align: center;
    font-weight: bold;
    border: 2px solid rgb(5, 5, 5);
    font-size: 20px;
    padding: 10px;
    background-color: lightgreen;
}
.caja2 tr{
    border: 2px solid rgb(5, 5, 5);
    height: 40px;

      
}   
.caja2 th{
    margin: 0;
    padding: 10px;
     border: 2px solid rgb(5, 5, 5);

}
.caja2 td{
    padding: 10px;
    text-align: center;
}
.caja2 #Descripcion {
    border: 2px solid rgb(5, 5, 5);
    padding: 10px;
    width: 600px;   
}
.container3{
    width: 100%;
    display: grid;
    grid-template-columns: 35% 25% auto;
    margin-top: 15px;
    gap: 20px;

}
.caja3{
    border: 1px solid rgb(5, 5, 5);
    background-color: inherit;
    display: inline;
    padding: 10px;
}
.cajacliente{
    margin-top: 10px;
    width: auto;
    display: grid;
    grid-template-columns: auto auto;
    gap: 13px;
}
.datcli{
    margin-top: 10px;
    text-align: center;
    font: weight 12px;;
    font-size: 20px;
}
.dni{
    padding: 5px;

}
.btnbuscar{
    background-color: rgb(96, 252, 103);
    border-radius: 10px;
}
.btnpagar{
    background-color: rgb(247, 250, 247);
    border: 1px solid black;
    border-radius: 10px;
    font-size: 20px;
}
.caja4{
    
    padding: 20px 20px;
    font-weight: bold;
    display: grid;
    grid-template-columns: auto;
    
}
.caja5{
    border: 1px solid rgb(5, 5, 5);
    font-weight: bold;
    display: grid;
    grid-template-columns: auto auto;
 
}
.c1{
    padding: 10px;
    text-align:end;
    display: grid;
    gap: 10px;
}
.c2{   padding: 10px;
    text-align:end;
    display: grid;
    gap: 10px;
    padding: 10px;
    text-align: end;
}
